node_modules
# .DS.Store
# .P2BAWSKEY.cer
# *.zip
# private_key
# .logs.txt
# datatourismeEvents
# datatourismeSites
# datatourismeActivites
# datatourismeHiking
# datatourisme.zip
# .datatourisme_events.zip
# .datatourisme_sites.zip
# .datatourisme_activities.zip
# .datatourisme_products.zip
# .datatourisme_hiking.zip
# .vscode
# .events.json
# .sites.json
# .activities.json
# .hiking.json
# .products.json
# data/*
.env
# uploads
# data/sites.json
# data/events.json